/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Main CSS */
body {
  background-color: #111111;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-links > li {
  margin-left: 80px;
}

.nav-links > li > a {
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
}
